extends layout

block variables
  - var title = "Приложение"

block content
  h2.text-center Рецепты

  if posts == null
    p.empty.text-center Нечего просматривать!

  .posts
    ul
      each post in posts
        .row
          .offset-sm-2.col-sm-8
            li
              a(href="/" + post.slug, title=post.title)= post.title
              span &nbsp; by #{post.authorName}